{
    "schemes": [
        "https",
        "http"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Relay (HypeMap), Signal (MetaLens) y Comps \u0026 Leagues.",
        "title": "HypeAtlas API",
        "contact": {},
        "version": "1.0"
    },
    "host": "api.hypeatlas.app",
    "basePath": "/",
    "paths": {
        "/v1/hypemap/live": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "relay"
                ],
                "summary": "HypeMap: co-streams en vivo (ranking)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "val|lol",
                        "name": "game",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "es|en|fr|pt",
                        "name": "lang",
                        "in": "query"
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 50,
                        "description": "1-100",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 0,
                        "description": "paginación",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modules_relay_infra_http.HypeMapLiveResp"
                        }
                    }
                }
            }
        },
        "/v1/hypemap/summary": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "relay"
                ],
                "summary": "HypeMap: resumen por evento (agregado)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "val|lol",
                        "name": "game",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "es|en|fr|pt",
                        "name": "lang",
                        "in": "query"
                    },
                    {
                        "maximum": 100,
                        "minimum": 1,
                        "type": "integer",
                        "default": 20,
                        "description": "1-100",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 0,
                        "description": "paginación",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modules_relay_infra_http.HypeMapSummaryResp"
                        }
                    }
                }
            }
        },
        "/v1/ingest/relay/costreams:upsert": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "ingest"
                ],
                "summary": "Ingest: upsert co-stream",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/modules_relay_infra_http.upsertCoStreamReq"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "no content"
                    },
                    "400": {
                        "description": "bad json",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "db error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/ingest/signal/comps:upsert": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "ingest"
                ],
                "summary": "Upsert de composición (ingesta)",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.upsertCompReq"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "no content"
                    },
                    "400": {
                        "description": "bad json",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "db error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/relay/costreams": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "relay"
                ],
                "summary": "Listar co-streams en vivo de un evento",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Slug o ID del evento (ej. vct-emea-final)",
                        "name": "event_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Filtro por idioma (ej. es)",
                        "name": "lang",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modules_relay_infra_http.CoStreamsResp"
                        }
                    },
                    "400": {
                        "description": "event_id required",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/champions": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "signal"
                ],
                "summary": "Listar campeones",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Versión del juego (ej. 14.14)",
                        "name": "version",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/changes": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "signal"
                ],
                "summary": "Listar cambios de un parche",
                "parameters": [
                    {
                        "enum": [
                            "lol",
                            "val"
                        ],
                        "type": "string",
                        "description": "lol | val",
                        "name": "game",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Ej: 14.14 | 9.15",
                        "name": "version",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "agent",
                            "champion",
                            "item",
                            "weapon",
                            "map"
                        ],
                        "type": "string",
                        "description": "agent|champion|item|weapon|map",
                        "name": "type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.ChangesResp"
                        }
                    },
                    "400": {
                        "description": "game and version required",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/comps": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "signal"
                ],
                "summary": "Listar composiciones (LoL/VAL) filtradas",
                "parameters": [
                    {
                        "enum": [
                            "lol",
                            "val"
                        ],
                        "type": "string",
                        "description": "lol | val",
                        "name": "game",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "EMEA",
                        "name": "region",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "LEC",
                        "name": "league",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "14.14 | 9.15",
                        "name": "patch",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Ascent (solo VAL)",
                        "name": "map",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "blue",
                            "red",
                            "attack",
                            "defense"
                        ],
                        "type": "string",
                        "description": "LoL: blue/red | VAL: attack/defense",
                        "name": "side",
                        "in": "query"
                    },
                    {
                        "maximum": 200,
                        "minimum": 1,
                        "type": "integer",
                        "default": 50,
                        "description": "1-100",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.CompsResp"
                        }
                    },
                    "400": {
                        "description": "game, region and patch required",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/leagues": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "signal"
                ],
                "summary": "Listar ligas por juego y región",
                "parameters": [
                    {
                        "enum": [
                            "lol",
                            "val"
                        ],
                        "type": "string",
                        "description": "lol | val",
                        "name": "game",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "EMEA",
                            "APAC",
                            "AMERICAS"
                        ],
                        "type": "string",
                        "description": "EMEA | APAC | AMERICAS",
                        "name": "region",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.LeaguesResp"
                        }
                    },
                    "400": {
                        "description": "game required",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/patches": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "signal"
                ],
                "summary": "Listar parches por juego",
                "parameters": [
                    {
                        "enum": [
                            "lol",
                            "val"
                        ],
                        "type": "string",
                        "description": "lol | val",
                        "name": "game",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.PatchesResp"
                        }
                    },
                    "400": {
                        "description": "game required",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/regions": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "signal"
                ],
                "summary": "Listar regiones disponibles",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/champion-stats/{version}": {
            "get": {
                "description": "Retrieve detailed statistics about champion usage, pick rates, and performance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get champion statistics for a game version",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Champion statistics",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.ChampionStatsResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/champions/{version}/list": {
            "get": {
                "description": "Retrieve a complete list of all League of Legends champions for a specific game version from Data Dragon",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get list of all champions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of all champions",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.ChampionsListResponse"
                        }
                    },
                    "400": {
                        "description": "Version parameter is required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/champions/{version}/{championID}": {
            "get": {
                "description": "Retrieve complete information about a specific champion for a game version from Data Dragon",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get detailed champion information",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Champion ID (e.g., Ahri, Jinx)",
                        "name": "championID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Champion details",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.ChampionDetailsResponse"
                        }
                    },
                    "400": {
                        "description": "Version and championID parameters are required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/games": {
            "get": {
                "description": "Retrieve list of all available games from Riot Games",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get available Riot Games",
                "responses": {
                    "200": {
                        "description": "List of available games",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.GamesResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/images/abilities/{version}/{abilityName}": {
            "get": {
                "description": "Retrieve the image URL for a specific champion ability",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get champion ability image URL",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Ability name (e.g., AhriQ, AhriW)",
                        "name": "abilityName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ability image URL",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.AbilityImageResponse"
                        }
                    },
                    "400": {
                        "description": "Parameters are required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/images/champions/{version}/{championID}": {
            "get": {
                "description": "Retrieve all available image URLs for a specific champion",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get champion image URLs",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Champion ID (e.g., Ahri, Jinx)",
                        "name": "championID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Champion image URLs",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.ChampionImagesResponse"
                        }
                    },
                    "400": {
                        "description": "Version and championID parameters are required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/images/champions/{version}/{championID}/{skinNum}": {
            "get": {
                "description": "Retrieve all available image URLs for a specific champion skin",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get champion skin image URLs",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Champion ID (e.g., Ahri, Jinx)",
                        "name": "championID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Skin number (0 for default skin)",
                        "name": "skinNum",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Champion skin image URLs",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.ChampionSkinImagesResponse"
                        }
                    },
                    "400": {
                        "description": "Parameters are required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/images/items/{version}/{itemID}": {
            "get": {
                "description": "Retrieve the image URL for a specific item",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get item image URL",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Item ID (e.g., 1001, 3153)",
                        "name": "itemID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item image URL",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.ItemImageResponse"
                        }
                    },
                    "400": {
                        "description": "Parameters are required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/images/maps/{version}/{mapID}": {
            "get": {
                "description": "Retrieve the image URL for a specific map",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get map image URL",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Map ID (e.g., 11 for Summoner's Rift)",
                        "name": "mapID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Map image URL",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.MapImageResponse"
                        }
                    },
                    "400": {
                        "description": "Parameters are required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/images/passives/{version}/{passiveFile}": {
            "get": {
                "description": "Retrieve the image URL for a specific champion passive",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get champion passive image URL",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Passive file name",
                        "name": "passiveFile",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Passive image URL",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.PassiveImageResponse"
                        }
                    },
                    "400": {
                        "description": "Parameters are required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/images/profile-icons/{version}/{iconID}": {
            "get": {
                "description": "Retrieve the image URL for a specific profile icon",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get profile icon image URL",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Profile icon ID",
                        "name": "iconID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profile icon image URL",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.ProfileIconImageResponse"
                        }
                    },
                    "400": {
                        "description": "Parameters are required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/images/runes/{runeIcon}": {
            "get": {
                "description": "Retrieve the image URL for a specific rune",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get rune image URL",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Rune icon path (e.g., perk-images/Styles/Domination/Electrocute/Electrocute.png)",
                        "name": "runeIcon",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rune image URL",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.RuneImageResponse"
                        }
                    },
                    "400": {
                        "description": "Rune icon parameter is required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/images/spells/{version}/{spellName}": {
            "get": {
                "description": "Retrieve the image URL for a specific summoner spell",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get summoner spell image URL",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Spell name (e.g., SummonerFlash, SummonerHeal)",
                        "name": "spellName",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Spell image URL",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.SpellImageResponse"
                        }
                    },
                    "400": {
                        "description": "Parameters are required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/items/{version}": {
            "get": {
                "description": "Retrieve detailed information about all items for a specific game version from Data Dragon",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get items data for a specific version",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Items data",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.ItemsResponse"
                        }
                    },
                    "400": {
                        "description": "Version parameter is required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/leagues/{platform}": {
            "get": {
                "description": "Retrieve list of all available leagues for a specific platform",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get available leagues for a platform",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Platform (e.g., na1, euw1, kr)",
                        "name": "platform",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of available leagues",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.LeaguesResponse"
                        }
                    },
                    "400": {
                        "description": "Platform parameter is required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/metagame/league/{platform}/{queue}": {
            "get": {
                "description": "Get detailed analysis of Challenger league including win rates, LP distribution, and player statistics",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Analyze league rankings and statistics",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Platform (e.g., na1, euw1, kr)",
                        "name": "platform",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Queue type (e.g., RANKED_SOLO_5x5, RANKED_FLEX_SR)",
                        "name": "queue",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "League analysis with statistics and rankings",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Platform and queue parameters are required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/metagame/report/{platform}": {
            "get": {
                "description": "Get complete meta-game analysis combining champion rotation and league statistics with insights and recommendations",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Generate comprehensive meta-game report",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Platform (e.g., na1, euw1, kr)",
                        "name": "platform",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Complete meta-game report with analysis and insights",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Platform parameter is required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/metagame/rotation/{platform}": {
            "get": {
                "description": "Get detailed analysis of free champion rotation including tier classification, pick rates, and strategic recommendations",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Analyze weekly champion rotation",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Platform (e.g., na1, euw1, kr)",
                        "name": "platform",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analysis result with champion data and recommendations",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Platform parameter is required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/patch-changes/{fromVersion}/{toVersion}": {
            "get": {
                "description": "Compare changes between two game versions including buffs, nerfs, and new features",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get patch changes between versions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "From version (e.g., 13.23.1)",
                        "name": "fromVersion",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "To version (e.g., 13.24.1)",
                        "name": "toVersion",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Patch changes comparison",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.PatchChangesResponse"
                        }
                    },
                    "400": {
                        "description": "Version parameters are required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/patch-notes/{fromVersion}/{toVersion}": {
            "get": {
                "description": "Compare changes between two game versions including new/removed champions and modifications",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get patch notes and changes between versions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "From version (e.g., 13.23.1)",
                        "name": "fromVersion",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "To version (e.g., 13.24.1)",
                        "name": "toVersion",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Patch notes comparison",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.PatchNotesResponse"
                        }
                    },
                    "400": {
                        "description": "Version parameters are required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/patches/{version}": {
            "get": {
                "description": "Retrieve detailed information about a specific game patch",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get detailed patch information",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Patch version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Patch information",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.PatchInfoResponse"
                        }
                    },
                    "400": {
                        "description": "Version parameter is required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "Patch not found",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/pro-leagues": {
            "get": {
                "description": "Retrieve detailed information about all major professional leagues (LEC, LCK, LPL, etc.)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get professional League of Legends leagues information",
                "responses": {
                    "200": {
                        "description": "Professional leagues information",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.ProfessionalLeaguesResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/pro-leagues/{league}/champions": {
            "get": {
                "description": "Retrieve detailed champion statistics including pick rates, win rates, and ban rates for a specific professional league",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get champion statistics for a professional league",
                "parameters": [
                    {
                        "type": "string",
                        "description": "League code (e.g., LEC, LCK, LPL, LTA)",
                        "name": "league",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "League champion statistics",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.LeagueChampionsResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid league parameter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/regions": {
            "get": {
                "description": "Retrieve list of all available regions for League of Legends",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get available League of Legends regions",
                "responses": {
                    "200": {
                        "description": "List of available regions",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.RegionsResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/runes/{version}": {
            "get": {
                "description": "Retrieve detailed information about all runes for a specific game version from Data Dragon",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get runes data for a specific version",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Runes data",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.RunesResponse"
                        }
                    },
                    "400": {
                        "description": "Version parameter is required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/summoner-spells/{version}": {
            "get": {
                "description": "Retrieve detailed information about all summoner spells for a specific game version from Data Dragon",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get summoner spells data for a specific version",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Game version (e.g., 13.24.1)",
                        "name": "version",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Summoner spells data",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.SummonerSpellsResponse"
                        }
                    },
                    "400": {
                        "description": "Version parameter is required",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/sync/patches": {
            "post": {
                "description": "Sync latest patch information from Riot Games Data Dragon API",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Synchronize game patches from Riot Games",
                "responses": {
                    "200": {
                        "description": "Synchronization result",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.SyncPatchesResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/signal/riot/versions": {
            "get": {
                "description": "Retrieve list of all available League of Legends game versions from Data Dragon",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "riot"
                ],
                "summary": "Get available game versions",
                "responses": {
                    "200": {
                        "description": "List of game versions",
                        "schema": {
                            "$ref": "#/definitions/modules_signal_infra_http.GameVersionsResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "github_com_steven230500_hypeatlas-api_domain_entities.CoStream": {
            "type": "object",
            "properties": {
                "country": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "creator": {
                    "$ref": "#/definitions/github_com_steven230500_hypeatlas-api_domain_entities.Creator"
                },
                "creator_uuid": {
                    "type": "string"
                },
                "event": {
                    "$ref": "#/definitions/github_com_steven230500_hypeatlas-api_domain_entities.Event"
                },
                "event_uuid": {
                    "type": "string"
                },
                "is_live": {
                    "type": "boolean"
                },
                "lang": {
                    "type": "string"
                },
                "last_seen_at": {
                    "type": "string"
                },
                "platform": {
                    "description": "twitch|youtube",
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "uuid": {
                    "type": "string"
                },
                "verified": {
                    "type": "boolean"
                },
                "viewers": {
                    "type": "integer"
                }
            }
        },
        "github_com_steven230500_hypeatlas-api_domain_entities.Comp": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "delta_win": {
                    "type": "number"
                },
                "game": {
                    "type": "string"
                },
                "league": {
                    "type": "string"
                },
                "map": {
                    "type": "string"
                },
                "patch": {
                    "type": "string"
                },
                "pick_rate": {
                    "type": "number"
                },
                "region": {
                    "type": "string"
                },
                "side": {
                    "type": "string"
                },
                "slots": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "updated_at": {
                    "type": "string"
                },
                "uuid": {
                    "type": "string"
                },
                "win_rate": {
                    "type": "number"
                }
            }
        },
        "github_com_steven230500_hypeatlas-api_domain_entities.Creator": {
            "type": "object",
            "properties": {
                "country": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "handle": {
                    "type": "string"
                },
                "lang": {
                    "type": "string"
                },
                "platform": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "uuid": {
                    "type": "string"
                },
                "verified": {
                    "type": "boolean"
                }
            }
        },
        "github_com_steven230500_hypeatlas-api_domain_entities.Event": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "ends_at": {
                    "type": "string"
                },
                "game": {
                    "description": "val|lol",
                    "type": "string"
                },
                "league": {
                    "type": "string"
                },
                "slug": {
                    "type": "string"
                },
                "starts_at": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "uuid": {
                    "type": "string"
                }
            }
        },
        "github_com_steven230500_hypeatlas-api_domain_entities.HypeMapItem": {
            "type": "object",
            "properties": {
                "country": {
                    "type": "string"
                },
                "event_slug": {
                    "type": "string"
                },
                "event_title": {
                    "type": "string"
                },
                "game": {
                    "type": "string"
                },
                "handle": {
                    "type": "string"
                },
                "is_live": {
                    "type": "boolean"
                },
                "lang": {
                    "type": "string"
                },
                "league": {
                    "type": "string"
                },
                "platform": {
                    "type": "string"
                },
                "score": {
                    "type": "integer"
                },
                "viewers": {
                    "type": "integer"
                }
            }
        },
        "github_com_steven230500_hypeatlas-api_domain_entities.HypeMapSummaryItem": {
            "type": "object",
            "properties": {
                "event_slug": {
                    "type": "string"
                },
                "event_title": {
                    "type": "string"
                },
                "game": {
                    "type": "string"
                },
                "last_seen_at": {
                    "type": "string"
                },
                "league": {
                    "type": "string"
                },
                "streamers": {
                    "type": "integer"
                },
                "total_viewers": {
                    "type": "integer"
                }
            }
        },
        "github_com_steven230500_hypeatlas-api_domain_entities.League": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "game": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "region": {
                    "type": "string"
                },
                "slug": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "uuid": {
                    "type": "string"
                }
            }
        },
        "github_com_steven230500_hypeatlas-api_domain_entities.Patch": {
            "type": "object",
            "properties": {
                "changes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/github_com_steven230500_hypeatlas-api_domain_entities.PatchChange"
                    }
                },
                "created_at": {
                    "type": "string"
                },
                "game": {
                    "description": "val|lol",
                    "type": "string"
                },
                "released_at": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "uuid": {
                    "type": "string"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "github_com_steven230500_hypeatlas-api_domain_entities.PatchChange": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "entity_id": {
                    "type": "string"
                },
                "entity_type": {
                    "description": "champion|agent|item|weapon|map",
                    "type": "string"
                },
                "field": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "impact_score": {
                    "type": "number"
                },
                "new": {
                    "type": "string"
                },
                "old": {
                    "type": "string"
                },
                "patch_uuid": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "modules_relay_infra_http.CoStreamsResp": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/github_com_steven230500_hypeatlas-api_domain_entities.CoStream"
                    }
                }
            }
        },
        "modules_relay_infra_http.HypeMapLiveResp": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/github_com_steven230500_hypeatlas-api_domain_entities.HypeMapItem"
                    }
                },
                "next_offset": {
                    "type": "integer"
                }
            }
        },
        "modules_relay_infra_http.HypeMapSummaryResp": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/github_com_steven230500_hypeatlas-api_domain_entities.HypeMapSummaryItem"
                    }
                },
                "next_offset": {
                    "type": "integer"
                }
            }
        },
        "modules_relay_infra_http.upsertCoStreamReq": {
            "type": "object",
            "properties": {
                "country": {
                    "type": "string"
                },
                "event_slug": {
                    "type": "string"
                },
                "event_title": {
                    "type": "string"
                },
                "game": {
                    "type": "string"
                },
                "handle": {
                    "type": "string"
                },
                "is_live": {
                    "type": "boolean"
                },
                "lang": {
                    "type": "string"
                },
                "league": {
                    "type": "string"
                },
                "platform": {
                    "description": "twitch|youtube",
                    "type": "string"
                },
                "starts_at": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "verified": {
                    "type": "boolean"
                },
                "viewers": {
                    "type": "integer"
                }
            }
        },
        "modules_signal_infra_http.AbilityImageResponse": {
            "type": "object",
            "properties": {
                "ability_name": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.ChampionDetailsResponse": {
            "type": "object",
            "properties": {
                "champion_id": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.ChampionImagesResponse": {
            "type": "object",
            "properties": {
                "champion": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.ChampionSkinImagesResponse": {
            "type": "object",
            "properties": {
                "champion": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "skin_num": {
                    "type": "integer"
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.ChampionStatsResponse": {
            "type": "object",
            "properties": {
                "stats": {
                    "type": "object",
                    "additionalProperties": true
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.ChampionsListResponse": {
            "type": "object",
            "properties": {
                "champions": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "additionalProperties": true
                    }
                },
                "success": {
                    "type": "boolean"
                },
                "total": {
                    "type": "integer"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.ChangesResp": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/github_com_steven230500_hypeatlas-api_domain_entities.PatchChange"
                    }
                }
            }
        },
        "modules_signal_infra_http.CompsResp": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/github_com_steven230500_hypeatlas-api_domain_entities.Comp"
                    }
                }
            }
        },
        "modules_signal_infra_http.GameVersionsResponse": {
            "type": "object",
            "properties": {
                "success": {
                    "type": "boolean"
                },
                "versions": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "modules_signal_infra_http.GamesResponse": {
            "type": "object",
            "properties": {
                "games": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "modules_signal_infra_http.ItemImageResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "item_id": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.ItemsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.LeagueChampionsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "league": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "modules_signal_infra_http.LeaguesResp": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/github_com_steven230500_hypeatlas-api_domain_entities.League"
                    }
                }
            }
        },
        "modules_signal_infra_http.LeaguesResponse": {
            "type": "object",
            "properties": {
                "leagues": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "platform": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "modules_signal_infra_http.MapImageResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "map_id": {
                    "type": "integer"
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.PassiveImageResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "passive_file": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.PatchChangesResponse": {
            "type": "object",
            "properties": {
                "changes": {
                    "type": "object",
                    "additionalProperties": true
                },
                "from_version": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                },
                "to_version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.PatchInfoResponse": {
            "type": "object",
            "properties": {
                "patch": {
                    "$ref": "#/definitions/github_com_steven230500_hypeatlas-api_domain_entities.Patch"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "modules_signal_infra_http.PatchNotesResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "from_version": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                },
                "to_version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.PatchesResp": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/github_com_steven230500_hypeatlas-api_domain_entities.Patch"
                    }
                }
            }
        },
        "modules_signal_infra_http.ProfessionalLeaguesResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "modules_signal_infra_http.ProfileIconImageResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "icon_id": {
                    "type": "integer"
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.RegionsResponse": {
            "type": "object",
            "properties": {
                "regions": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "modules_signal_infra_http.RuneImageResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "rune_icon": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "modules_signal_infra_http.RunesResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.SpellImageResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "spell_name": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.SummonerSpellsResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "additionalProperties": true
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.SyncPatchesResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                },
                "version": {
                    "type": "string"
                }
            }
        },
        "modules_signal_infra_http.upsertCompReq": {
            "type": "object",
            "properties": {
                "delta_win": {
                    "type": "number"
                },
                "game": {
                    "type": "string"
                },
                "league": {
                    "type": "string"
                },
                "map": {
                    "type": "string"
                },
                "patch": {
                    "type": "string"
                },
                "pick_rate": {
                    "type": "number"
                },
                "region": {
                    "type": "string"
                },
                "side": {
                    "type": "string"
                },
                "slots": {
                    "type": "object",
                    "additionalProperties": {}
                },
                "win_rate": {
                    "type": "number"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "X-API-Key",
            "in": "header"
        }
    }
}